[Unit]
Description=run rss@klassiker.service every 15 minutes

[Timer]
OnBootSec=2m
OnUnitActiveSec=15m
AccuracySec=5m
Unit=rss@klassiker.service

[Install]
WantedBy=timers.target
